<section data-ng-controller="HomeController">
	<div class="jumbotron" style="background: #fff">
		<h1>ULib v0.0.1</h1>
		<p>
			
			<p>ULib using <a href="http://meanjs.org/">MEAN.js</a> - Open-Source Full-Stack Solution For MEAN Applications</p>
		</p>
	</div>


	<div>
		<h2>Hi! You've configured and run the sample ULib application.</h2>
		<p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
		<p>This sample application tracks users and articles.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>
				Edit your users module.
			</li>
			<li>
				Add new CRUD modules.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row" style="background:#fff">
		<div class="col-md-3">
			<h2>
				<strong>M</strong>ySQL
			</h2>
			<p><a target="_blank" href="http://mysql.org/">MySQL</a> is a database. MySQL's <a target="_blank" href="http://dev.mysql.com/doc/">great manual</a> is the place to get started.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>E</strong>xpress
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ngularJS
			</h2>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>ode.js
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2>My Team</h2>
			<ul>
				<li>Van-Duyet Le (lvduit08 at gmail dot com)</li>
				<li>Trần Thị Huyền Trang</li>
				<li>Chung Thị Như Ý</li>
				<li>Trương Hoàng Gia</li>
			</ul>
		</div>
	</div>


	<hr>
	<br>Enjoy &amp; Keep Us Updated,
	<br>(c) 2015 - The LvDuit Team.
</section>