<section data-ng-controller="HomeController">
	<div class="container">
		<div class="row">
			<div class="block-header"><h2>ULib Dashboard</h2></div>		
		</div>
		
	</div>

	<div class="jumbotron" style="background: #fff;">
		<div class="container">
			<h1>ULib v1.0</h1>
			<p>Hệ thống quản lý thư viện UIT</p>
			<p>
				<a class="btn btn-primary btn-lg"></a>
				<a class="btn btn-success btn-lg"></a>
				<a class="btn btn-info btn-lg"></a>
				<a class="btn btn-warning btn-lg"></a>
			</p>
		</div>
	</div>


	<div class="dashboard-menu" data-ng-hide="!authentication.user">
	    <div class="row">

	        <div class="col-sm-6 col-md-3">
	            <div class="mini-charts-item bgm-lightgreen" data-ng-click="go('nghiepvu')">
	                <div class="clearfix">
	                    <div class="dashboard-icon">
	                    	<i class="md md-loop"></i>
	                    </div>
	                    <div class="count">
	                        <small></small>
	                        <h2>Nghiệp vụ</h2>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="col-sm-6 col-md-3">
	            <div class="mini-charts-item bgm-cyan" data-ng-click="go('danhmuc')">
	                <div class="clearfix">
	                    <div class="dashboard-icon">
	                    	<i class="md md-book"></i>
	                    </div>
	                    <div class="count">
	                        <small></small>
	                        <h2>Danh mục</h2>
	                    </div>
	                </div>
	            </div>
	        </div>
	       
	        
	        <div class="col-sm-6 col-md-3">
	            <div class="mini-charts-item bgm-orange" data-ng-click="go('tracuu')">
	                <div class="clearfix">
	                    <div class="dashboard-icon">
	                    	<i class="md md-search"></i>
	                    </div>
	                    <div class="count">
	                        <small></small>
	                        <h2>Tra cứu</h2>
	                    </div>
	                </div>
	            </div>
	        </div>
	        
	        <div class="col-sm-6 col-md-3">
	            <div class="mini-charts-item bgm-bluegray" data-ng-click="go('settings')">
	                <div class="clearfix">
	                    <div class="dashboard-icon">
	                    	<i class="md md-settings"></i>
	                    </div>
	                    <div class="count">
	                        <small></small>
	                        <h2>Hệ thống</h2>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="row" >


		<div class="col-md-6">

			<div class="card">
			    <div class="card-header ch-alt ">
			        <h2>Our Team</h2>
			    </div>
			    
			    <div class="card-body">
			        <div class="listview">
			            <a class="lv-item" href="">
			                <div class="media">
			                    <div class="pull-left">
			                        <img class="lv-img-sm" src="modules/core/img/avatar/2.jpg" alt="">
			                    </div>
			                    <div class="media-body">
			                        <div class="lv-title">Lê Văn Duyệt</div>

			                    </div>
			                </div>
			            </a>

			            <a class="lv-item" href="">
			                <div class="media">
			                    <div class="pull-left">
			                        <img class="lv-img-sm" src="modules/core/img/avatar/1.jpg" alt="">
			                    </div>
			                    <div class="media-body">
			                        <div class="lv-title">Trần Thị Huyền Trang</div>

			                    </div>
			                </div>
			            </a>

			            <a class="lv-item" href="">
			                <div class="media">
			                    <div class="pull-left">
			                        <img class="lv-img-sm" src="modules/core/img/avatar/4.jpg" alt="">
			                    </div>
			                    <div class="media-body">
			                        <div class="lv-title">Trương Hoàng Gia</div>

			                    </div>
			                </div>
			            </a>

			            <a class="lv-item" href="">
			                <div class="media">
			                    <div class="pull-left">
			                        <img class="lv-img-sm" src="modules/core/img/avatar/3.jpg" alt="">
			                    </div>
			                    <div class="media-body">
			                        <div class="lv-title">Chung Thị Như Ý</div>

			                    </div>
			                </div>
			            </a>


			            
			        </div>
			    </div>
			</div>



		</div>

	</div>
	<hr>
</section>