<section data-ng-controller="GroupsController" data-ng-init="find()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jumbotron" style="background: #fff">
                <div class="container">
                    <h1>Groups Manager</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ve</p>
                </div>

            </div>
        </div>    
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 " data-ng-repeat="group in groups">
            <div class="ibox-content" ng-click="go('groups/{{group.id}}')">
                <h1 data-ng-bind="group.name"></h1>
                <span ng-bind="group.description"></span>
            </div>
        </div>
    </div>
</section>