<section data-ng-controller="GroupsController" data-ng-init="findOne()">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-8">
			<div class="ibox-content">
				<a data-ng-href="/#!/groups" title="Go back" class="go-back">Back</a>
				
				<h1 data-ng-bind="'Group: ' + group.name"></h1>

				<div>
					{{modelAsJson}}
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-4 col-lg-4" data-ng-init="getListStaff()">
			<div class="ibox-content">
			<h1>List of users</h1>
				<div class="chat-users">
					<ul class="users-list" dnd-list="staffs">


						<li class="chat-user" data-ng-repeat="staff in staffs" 
							dnd-draggable="staff"
					        dnd-moved="staffs.splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="staff.selected = item"
					        ng-class="{'selected': staff.selected === item}">
							{{staff}}
						</li>
					</ul>
				</div>
				
			</div>


		</div>
	</div>
</section>
