<section data-ng-controller="LoansController">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <a data-ng-href="/#!/loans" title="Go back" class="go-back">Back</a>
            <h1>Add new Loans</h1>

            <div class="ibox-content">
                <form class="form-horizontal" data-ng-submit="create()" novalidate>
                    <fieldset>

                        <div data-ng-show="success" class="alert alert-success">
                            <span data-ng-bind="success"></span>
                        </div>

                        <div data-ng-show="error" class="alert alert-danger">
                            <span data-ng-bind="error"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="student_id">Student ID</label>
                            <div class="controls">
                                <input type="number" data-ng-model="student_id" id="student_id" class="form-control" placeholder="13520xxx" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="book_ids">Choosen Books</label>
                            <div class="controls">
                                <select data-ng-model="book_ids" class="form-control" ng-options="book.id as book.name for book in books"></select>

                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
