<section data-ng-controller="LoansController">

    <div class="block-header">
    <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="#">Home</a></li>
            <li><a href="#">Categorie</a></li>
            <li class="active">Create</li>
    </ol>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-6">

            <div class="card">
                <div class="card-header bgm-bluegray">
                    <h2>Create new<small>Create new Categories</small></h2>

                    <ul class="actions actions-alt">
                        <li>
                            <a href="#!/loans">
                                <i class="md md-arrow-back"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="false">
                                <i class="md md-more-vert"></i>
                            </a>
                            
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Help</a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="card-body card-padding">
                    <form class="form-horizontal" data-ng-submit="create()" novalidate>
                        <fieldset>

                            <div data-ng-show="success" class="alert alert-success">
                                <span data-ng-bind="success"></span>
                            </div>

                            <div data-ng-show="error" class="alert alert-danger">
                                <span data-ng-bind="error"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="student_id">
                                    Mã số sinh viên
                                </label>

                                <div class="controls">
                                    <input type="text" id="student_id" class="form-control" required="required" pattern="[0-9]" data-ng-model="student_id" ng-change="fetchStudentData()">
                                </div>
                            </div>

                            <div class="input-group" style="margin-bottom: 5px">
                              <input type="text" class="form-control" data-ng-model="searchByKeyword" placeholder="Tên sách, mã sách ..." >
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-info waves-effect waves-button waves-float" data-ng-click="searchBook()">Tìm</button>
                              </span>
                            </div><!-- /input-group -->

                            <div class="form-group" >
                                <div class="alert alert-warning" style="margin-top:5px" data-ng-show="isEmptyResult">Không tìm thấy dữ liệu</div>


                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr data-ng-repeat="b in fiteredBooks" data-ng-click="selectBook(b)" data-ng-init="b.can_booking = (b.available_number <= librules.min_number_of_books) ? 0 : 1">
                                                <td>
                                                    <span data-ng-bind="b.book_id" class="label label-default"></span>
                                                </td>
                                                <td data-ng-bind="b.name">
                                                </td>
                                                <td>
                                                    <span class="label label-success {{(!b.can_booking) ? 'label-warning' : ''}}" data-ng-bind="b.available_number + '/' + b.number"></span>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>

                            </div>

                            <div class="form-group" data-ng-hide="!selectedBook.length">
                                <label class="control-label" for="book_ids">Sách đã chọn</label>

                                <div class="controls">
                                    
                                    <table class="table" style="margin-top:5px">
                                        <tbody>
                                            <tr data-ng-repeat="book in selectedBook">
                                                <td>
                                                    <span data-ng-bind="book.book_id" class="label-label-default"></span>
                                                </td>
                                                <td>
                                                     <span data-ng-bind="book.name"></span> <i class="md md-clear" data-ng-click="removeBookFromSelectedList(book)" style="cursor:pointer"></i>


                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <!--div class="card animated bounce">
                <div class="card-header ch-alt">
                    <h2>Debug</h2>

                </div>

                <div class="card-body card-padding">
                    <div class="checkbox m-b-15">
                        <label>
                            <input type="checkbox" value="" data-ng-model="createData.debug">
                            <i class="input-helper"></i>
                                debug mode
                        </label>
                    </div>
                </div>
            </div-->

            <div class="card" data-ng-show="listBookNotReturnedByUid">
                <div class="card-header ch-alt bgm-deeporange">
                    <h2>Sách chưa trả</h2>

                </div>

                <div class="card-body card-padding">
                    <div data-ng-repeat="row in listBookNotReturnedByUid">
                        - {{row.book_name}} <span class="label label-primary">{{row.created}}</span>
                    </div>

                    <br /> <button class="btn btn-primary" data-ng-click="go('/loans/' + listBookNotReturnedByUid[0].loan_id)">Xem</button>
                </div>
            </div>


            <div class="card profile-view animated bounce" data-ng-hide="!student_info">
                <div class="pv-header">
                    <img src="modules/loans/images/pygx.png" class="pv-main" alt="">
                </div>
                
                <div class="pv-body">
                    <h2 data-ng-bind="student_info.name"></h2>
                
                    <ul class="pv-follow">
                        <li><i class="md md-room"></i> {{student_info.student_id}}</li>
                        <li><i class="md md-phone"></i> {{student_info.subject}}</li>
                    </ul>
                    
                    
                    <a href="" class="pv-follow-btn">View info</a>
                </div>
            </div>

            

        </div>  


    </div>
</section>

