<section data-ng-controller="LoansController" data-ng-init="findOne()">

    <div class="block-header">
	    <ol class="breadcrumb" style="margin-bottom: 5px;">
	            <li><a href="#">Home</a></li>
	            <li><a href="#">Loans</a></li>
	            <li class="active">Detail</li>
	    </ol>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-8">

        	<div class="alert alert-warning" data-ng-hide="loan.student_name">
        			Không tìm thấy
        	</div>

            <div class="card" data-ng-show="loan.student_name">
                <div class="card-header bgm-bluegray">
                    <h2>Phiếu mượn sách<small>Thông tin mượn sách</small></h2>

                    <ul class="actions actions-alt">
                        <li>
                            <a href="#!/loans/create">
                                <i class="md md-add"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!/loans">
                                <i class="md md-format-list-bulleted"></i>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="card-body card-padding">
                	<div class="row">
                		<div class="col-xs-12 col-md-6">
                			<div class="fg-line form-group">
                				<label>Sinh viên</label>
                                <input type="text" data-ng-model="loan.student_name" class="form-control input-sm" placeholder="Name">
                            </div>
                		</div>

                		<div class="col-xs-12 col-md-6">
                			<div class="fg-line form-group">
                				<label>Ngày mượn</label>
                                <input type="text" data-ng-model="loan.time_created" class="form-control input-sm" placeholder="Date">
                            </div>
                		</div>

                	</div>

                	<div class="row">
                		<div class="col-md-12">
                			<br />
                			<label>Danh sách mượn</label>
							<table class="table table-hover">
                				<thead>
                					<tr>
                						<th style="width:1%">#</th>
                						<th>Mã sách</th>
                						<th>Tên sách</th>
                						<th>Thể loại</th>
                						<th>Tác giả</th>
                					</tr>
                				</thead>
                				<tbody>
                					<tr data-ng-repeat="book in loan.books">
                						<td data-ng-bind="$index + 1" class="text-center"></td>
                						<td data-ng-bind="book.book_id"></td>
                						<td data-ng-bind="book.name"></td>
                						<td data-ng-bind="book.category_id"></td>
                						<td data-ng-bind="book.book_id"></td>
                					</tr>
                				</tbody>
                			</table>                			
                		</div>
                	</div>

                </div>
            </div>

        </div>


    </div>
</section>




