<section data-ng-controller="PublishersController" data-ng-init="find()">
    <div class="row">
        <div class="col-md-12 col-lg-12">

            <div class="card">
                <div class="card-header bgm-bluegray m-b-20">
                    <h2>Publishers <small>List of publishers</small></h2>
                    <ul class="actions actions-alt">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Change Date Range</a>
                                </li>
                                <li>
                                    <a href="">Change Graph Type</a>
                                </li>
                                <li>
                                    <a href="">Other Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a class="btn bgm-red btn-float waves-effect waves-effect waves-button waves-float" href="/#!/publishers/create"><i class="md md-add"></i></a>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-vmiddle bootgrid-table">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Name</td>
                                <td>Desc</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="publisher in publishers">
                                <td><span data-ng-bind="$index + 1"></span></td>
                                <td><span data-ng-bind="publisher.name"></span></td>
                                <td><span data-ng-bind="publisher.description"></span> </td>
                                <td>
                                    <button type="button" class="btn btn-icon command-edit" data-ng-click="go('publishers/{{publisher.publisher_id}}/edit')"><span class="md md-edit"></span></button>
                                    <button type="button" class="btn btn-icon command-delete" data-ng-click="remove(publisher)"><span class="md md-delete"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="alert text-center" data-ng-hide="!publishers.$resolved || publishers.length">
                        No Publisher yet.
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
