<section data-ng-controller="StudentsController" data-ng-init="find()">
    <div class="row">
        <div class="col-md-12 col-lg-12">

            <div class="card">
                <div class="card-header bgm-bluegray">
                    <h2>Students <small>List of students</small></h2>
                    <ul class="actions actions-alt">
                        <li>
                            <a href="#!/">
                                <i class="md md-arrow-back"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="/#!/students/import">Import</a>
                                </li>
                                <li>
                                    <a href="/#!/students/report">Report</a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                    <a class="btn bgm-red btn-float waves-effect waves-effect waves-button waves-float" href="/#!/students/create"><i class="md md-add"></i></a>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered table-vmiddle bootgrid-table">
                        <tbody>
                            <tr data-ng-repeat="student in students">
                                <td data-ng-bind="student.student_id"></td>
                                <td data-ng-bind="student.name"></td>
                                <td data-ng-bind="student.email"></td>
                                <td data-ng-bind="student.subject"></td>
                                <td data-ng-bind="student.sex == 1 ? 'Boy' : 'Girl'"></td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="alert alert-warning text-center" data-ng-hide="!students.$resolved || students.length">
                        No Student yet.
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>