<section data-ng-controller="AuthorsController" data-ng-init="find()">
    <div class="row">
        <div class="col-md-12 col-lg-12">

            <div class="card">
                <div class="card-header bgm-bluegray m-b-20">
                    <h2>Authors <small>List of authors</small></h2>
                    
                    <ul class="actions actions-alt">
                        <li>
                            <a href="#!/">
                                <i class="md md-arrow-back"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Import Authors</a>
                                </li>
                                <li>
                                    <a href="">Report</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a class="btn bgm-red btn-float waves-effect waves-effect waves-button waves-float" href="/#!/authors/create"><i class="md md-add"></i></a>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-vmiddle bootgrid-table">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Name</td>
                                <td>Desc</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="author in authors">
                                <td><span data-ng-bind="$index + 1"></span></td>
                                <td><span data-ng-bind="author.name"></span></td>
                                <td><span data-ng-bind="author.description"></span> </td>
                                <td>
                                    <button type="button" class="btn btn-icon command-edit" data-ng-click="go('authors/{{author.id}}/edit')"><span class="md md-edit"></span></button>
                                    <button type="button" class="btn btn-icon command-delete waves-effect waves-button waves-float" data-ng-click="remove(author)"><span class="md md-delete"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="alert alert-warning text-center" data-ng-hide="!authors.$resolved || authors.length">
                        No author yet.
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
