<section data-ng-controller="ServicesController" data-ng-init="findOne()">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h1 data-ng-bind="service.name"></h1>

			<div class="ibox-content">
				<label>Name</label> <span data-ng-bind="service.name"></span> <br>
				<label>Description</label> <span data-ng-bind="service.description"></span> <br>
				
				<a href="/#!/services/{{service.id}}/edit" class="btn btn-primary">edit</a>
				<a class="btn btn-warning"data-ng-click="remove();"><i class="glyphicon glyphicon-trash"></i></a>
			</div>
		</div>
	</div>
</section>
