<section data-ng-controller="ServicelogsController" data-ng-init="findOne()">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h1>View logs #{{servicelog.id}}</h1>

			<div class="ibox-content">
				<label>Name</label> <span data-ng-bind="servicelog.name"></span> <br>
				<label>Prices</label> <span data-ng-bind="servicelog.prices"></span> <br>
				<label>Note</label> <span data-ng-bind="servicelog.note"></span> <br>

				<br />
				
				<a href="/#!/servicelogs/{{servicelog.id}}/edit" class="btn btn-primary">edit</a>
				<a class="btn btn-warning"data-ng-click="remove();"><i class="glyphicon glyphicon-trash"></i></a>
			</div>
		</div>
	</div>
</section>

