<section data-ng-controller="BooksController">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <a data-ng-href="/#!/servicelogs" title="Go back" class="go-back">Back</a>
            <h1>Create New Books</h1>

            <div class="ibox-content">
                <form class="form-horizontal" data-ng-submit="create()" novalidate>
                    <fieldset>
                        
                        <div data-ng-show="error" class="alert alert-danger">
                            <span data-ng-bind="error"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Book name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Book name..." required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="category">Category</label>
                            <div class="controls">
                                <select ng-model="category_id" id="category" ng-options="category.id as category.name for category in categories" class="form-control" required></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="language">Language</label>
                            <div class="controls">
                                <select ng-model="language_id" id="language" ng-options="language.id as language.name for language in languages" class="form-control" required></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="publisher">Publisher</label>
                            <div class="controls">
                                <select ng-model="publisher_id" id="publisher" ng-options="publisher.id as publisher.name for publisher in publishers" class="form-control" required></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="number">Number</label>
                            <div class="controls">
                                <input type="number" data-ng-model="number" id="number" class="form-control" placeholder="150" step="1" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="description">Description</label>
                            <div class="controls">
                                <textarea name="description" class="form-control" id="description" data-ng-model="description"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="available_number">Available Number</label>
                            <div class="controls">
                                <input type="available_number" data-ng-model="available_number" id="available_number" class="form-control" placeholder="150" step="1" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="publish_date">Publish Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="publish_date" id="publish_date" class="form-control" required>
                            </div>
                        </div>



                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
