<section data-ng-controller="BooksController" data-ng-init="find()">
    <div class="row">
        <div class="col-md-12 col-lg-12">

            <div class="card">
                <div class="card-header bgm-bluegray">
                    <h2>Books <small>List of books</small></h2>
                    <ul class="actions actions-alt">
                        <li>
                            <a href="#!/">
                                <i class="md md-arrow-back"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="/#!/books/import">Import</a>
                                </li>
                                <li>
                                    <a href="/#!/books/report">Report</a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                    <a class="btn bgm-red btn-float waves-effect waves-effect waves-button waves-float" href="/#!/books/create"><i class="md md-add"></i></a>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                            <tbody>
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Book name</td>
                                        <td>Category</td>
                                        <td>Language</td>
                                        <td>Publisher</td>
                                        <td>Number</td>
                                        <td>Publish Date</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="book in books | orderBy: ['create_time']">
                                        <td data-ng-bind="book.id" ng-click="go('/books/' + book.id)" style="cursor:pointer"></td>
                                        <td data-ng-bind="book.name" ng-click="go('/books/' + book.id)" style="cursor:pointer"></td>
                                        <td data-ng-bind="book.category.name"></td>
                                        <td data-ng-bind="book.language.name"></td>
                                        <td data-ng-bind="book.publisher.name"></td>
                                        <td data-ng-bind="book.number"></td>
                                        <td data-ng-bind="book.publish_date | date"></td>
                                        <td class="text-center">
                                           <button type="button" class="btn btn-icon command-edit" data-ng-click="go('books/{{book.id}}')"><span class="md md- md-dehaze"></span></button>

                                           <button type="button" class="btn btn-icon command-edit" data-ng-click="go('books/{{book.id}}/edit')"><span class="md md-edit"></span></button>
                                           
                                        </td>
                                    </tr>
                                </tbody>
                            </tbody>
                        </table>


                    <div class="alert alert-default text-center" data-ng-hide="!books.$resolved || books.length">
                        No Books yet.
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>



