<section data-ng-controller="UserManagersController" data-ng-init="find()">
    <div class="block-header">
    <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="#">Home</a></li>
            <li><a href="#">User Managers</a></li>
            <li class="active">List</li>
    </ol>
    </div>

    <div class="row">
        <div class="col-md-4 col-lg-4" data-ng-repeat="userManager in userManagers">

            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Quản lý User<small></small></h2>
                    <ul class="actions">
                        <li>
                            <a href="/#!/user-managers/{{userManager.staff_id}}">
                                <i class="md md-center-focus-strong"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body card-padding" style="background: #fff">

                    <div>
                        <h2 data-ng-bind="userManager.name + ' (@'+ userManager.username +')'"></h2>

                        <ul class="pv-follow">
                            <li data-ng-if="userManager.phone_number"><i class="md md-room"></i> <span data-ng-bind="userManager.phone_number"></span></li>
                            
                        </ul>
                        
                    </div>



                </div>
            </div>

        </div>
    </div>

</section>





<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Staffs</h1>
    </div>
</div>

<section class="row" data-ng-controller="UserManagersController" data-ng-init="find()">


    <div class="alert alert-warning text-center" data-ng-hide="!userManagers.$resolved || userManagers.length">
        No User managers yet, why don't you <a href="/#!/user-managers/create">create one</a>?
    </div>
</section>