<section data-ng-controller="UserManagersController" data-ng-init="find()">
    <div class="block-header">
    <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="#">Home</a></li>
            <li><a href="#">User Managers</a></li>
            <li class="active">List</li>
    </ol>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">

            <div class="card">
                <div class="card-header bgm-bluegray">
                    <h2>Quản lý Users <small></small></h2>
                    <ul class="actions actions-alt">

                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="/#!/user-managers/import">Import</a>
                                </li>
                                <li>
                                    <a href="/#!/user-managers/report">Report</a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                    <a class="btn bgm-red btn-float waves-effect waves-effect waves-button waves-float" href="/#!/user-managers/create"><i class="md md-add"></i></a>
                </div>
                <div class="card-body" style="background: #fff">

                    <div class="row">
                        <div class="col-md-4" data-ng-repeat="userManager in userManagers">
                            <div class="card profile-view">
                                <div class="pv-header">
                                    <img src="modules/user-managers/img/avatar.png" class="pv-main" alt="">
                                </div>
                                
                                <div class="pv-body">
                                    <h2 data-ng-bind="userManager.name"></h2>
                                    <small>@<span ng-bind="userManager.username"></span></small>
                                
                                    <ul class="pv-follow">
                                        <li><i class="md md-room"></i> <span data-ng-bind="userManager.phone_number"></span></li>
                                        <li><i class="md md-phone"></i> <span data-ng-bind="userManager.phone_number"></span></li>
                                    </ul>
                                    
                                    
                                    <a href="/#!/user-managers/{{userManager.staff_id}}" class="pv-follow-btn">View</a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>

</section>





<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Staffs</h1>
    </div>
</div>

<section class="row" data-ng-controller="UserManagersController" data-ng-init="find()">


    <div class="alert alert-warning text-center" data-ng-hide="!userManagers.$resolved || userManagers.length">
        No User managers yet, why don't you <a href="/#!/user-managers/create">create one</a>?
    </div>
</section>