<section data-ng-controller="UserManagersController" data-ng-init="findOne()">
    <div class="row">
        <div class="col-sm-12 col-md-6">

            <div class="card">
                <div class="card-header bgm-bluegray">
                    <h2> </h2>

                    <ul class="actions actions-alt">
                        <li>
                            <a href="#!/user-managers">
                                <i class="md md-arrow-back"></i>
                            </a>
                        </li>
                        
                    </ul>
                </div>

                <div class="card-body card-padding">

                    <p class="text-left">
                        <span class="fa fa-user m-r-xs"></span><label>Name:</label>
                                <span ng-bind="userManager.name"></span> <br />

                        <span class="fa fa-phone m-r-xs"></span><label>Phone number:</label>
                                <span ng-bind="userManager.phone_number"></span> <br />

                        <span class="fa fa-envelope m-r-xs"></span><label>Email:</label> 
                                <span ng-bind="userManager.email"></span> <br />

                        <span class="fa fa-transgender  m-r-xs"></span><label>Sex:</label> 
                                <span ng-bind="userManager.sex == 1 ? 'Men' : 'Women'"></span> <br />

                        <span class="fa fa-calendar m-r-xs"></span><label>Birthday:</label> 
                                <span ng-bind="userManager.birthday | date"></span> <br />

                        <span class="fa fa-calendar m-r-xs"></span><label>Created:</label> 
                                <span ng-bind="userManager.create_time | date:'medium'"></span> <br />
                    </p>
                    <div class="text-right">
                        <a class="btn" data-ng-href="#!/user-managers/{{userManager.id}}/edit"></i> Edit </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>